@section css{
    <link href="~/Content/Tokenize-2.5.2/jquery.tokenize.css" rel="stylesheet" />
    <style>
        .tokenize-dropdown {
            width: 100%;
        }
    </style>
}

<h2>Autocomplete - Multiple Seletion Demo</h2>
<div class="row">
    <div class="col-md-12">
        <select id="tokenize" multiple="multiple" class="tokenize-dropdown">            
        </select>
    </div>
</div>


@section scripts
{
    <script src="~/Content/Tokenize-2.5.2/jquery.tokenize.js"></script>
    <script>
        $(function () {           
            var url = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "countries"})';
           
            $('#tokenize').tokenize({
                datas: url
            });
        });
    </script>
}
